<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">  

<h1>
    Codeial/Profile page
</h1>
<!-- <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100"> -->


<% if(user.id==profile_user.id) { %>
    <!--if user matches show the form-->
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST"><!--data can be text or file-->
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
    
<% } else {%>
    <!--else show only the profile info-->
    <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <% flag=0%>
    <!-- if(loggedinuser.friendships.length>=1 -->
    <!-- if(friendships exists for loggedin user then only load this) -->
    <% if(loggedinuser.friendships) {%> 
        <% for(friends of loggedinuser.friendships) { %>
        <!-- <p><%=friends.to_user._id%></p> -->
        
            <% if(friends.to_user.id==profile_user.id) { %>
            <p class="friendptag">Is a friend</p>
            <% flag=1%>
            <a id="friendsBtn" href="/friends/toggle/?from=<%=user._id%>&to=<%=profile_user._id%>">Remove friend</a> 
            <% }  %>
        
        
        <!-- <% if(friends.to_user.id==profile_user.id) { %>
            <p class="friendptag">Is a friend</p>
            <% flag=1%>
            <a id="friendsBtn" href="/friends/toggle/?from=<%=user._id%>&to=<%=profile_user._id%>">Remove friend</a>
        <% }  %> -->
        <% }  %>
    <%}%> 
    <% if(flag==0) {%>
        <p class="friendptag">Is not a friend</p>
        <a id="friendsBtn" href="/friends/toggle/?from=<%=user._id%>&to=<%=profile_user._id%>">ADD friend</a>
    <% } %>
    <!-- <a id="friendsBtn" href="/friends/toggle/?from=<%=user._id%>&to=<%=profile_user._id%>">ADD friend</a> -->
    <!-- /?from=<%=user._id%>&to=<%=profile_user._id%> -->
<% }  %>


<script src="<%= assetPath('js/toggle_friends.js') %>"></script>
